<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Configuration section-handler declaration area. -->
	<configSections>
		<section
   name="shortcutManager"
   type="Knowledge.Prospector.Common.Settings.OneFileSettingsListConfigurationSectionHandler, Knowledge.Prospector.Common" />

		<section
   name="clauseHolderManager"
   type="Knowledge.Prospector.Common.Settings.OneFileSettingsListConfigurationSectionHandler, Knowledge.Prospector.Common" />

		<section
   name="wordHolderManager"
   type="Knowledge.Prospector.Common.Settings.OneFileSettingsListConfigurationSectionHandler, Knowledge.Prospector.Common" />

		<section
   name="entityTemplateManager"
   type="Knowledge.Prospector.Common.Settings.OneFileSettingsListConfigurationSectionHandler, Knowledge.Prospector.Common" />

		<section
   name="dictionaryManager"
   type="Knowledge.Prospector.Dictionaries.DictionaryManagerConfigurationSectionHandler, Knowledge.Prospector" />

		<section
   name="ontologies"
   type="Knowledge.Prospector.Common.Settings.ProviderConfigurationSectionHandler`1[[Knowledge.Prospector.IO.IOntology, Knowledge.Prospector.IO]], Knowledge.Prospector.Common" />

		<section
   name="documentProviders"
   type="Knowledge.Prospector.Common.Settings.ProviderConfigurationSectionHandler`1[[Knowledge.Prospector.IO.Documents.Providers.IDocumentProvider, Knowledge.Prospector.IO]], Knowledge.Prospector.Common" />

		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Knowledge.Prospector.UIEnvironment.UISettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<!-- Configuration section settings area. -->
	<shortcutManager>
		<File Enabled="true" Name="$data\Shortcuts\CommonShortcuts.xml" />
	</shortcutManager>

	<clauseHolderManager>
		<File Enabled="true" Name="$data\ClauseHolders\Test.xml" />
	</clauseHolderManager>

	<wordHolderManager>
		<File Enabled="true" Name="$data\WordHolders\NumbersHolder.xml" />
		<File Enabled="true" Name="$data\WordHolders\MonthsHolder.xml" />
		<File Enabled="true" Name="$data\WordHolders\SubclassHolder.xml" />
	</wordHolderManager>

	<entityTemplateManager>
		<!--
		<File Enabled="true" Name="$data\Templates\Test.xml" />
		-->
		<File Enabled="true" Name="$data\Templates\DateTime.xml" />
		<File Enabled="true" Name="$data\Templates\Properties.xml" />
		<File Enabled="true" Name="$data\Templates\Subclasses.xml" />
		<File Enabled="true" Name="$data\Templates\English\DateTime.xml" />
		<File Enabled="true" Name="$data\Templates\Russian\Properties.xml" />
		<File Enabled="true" Name="$data\Templates\Russian\Rules.xml" />
		<File Enabled="true" Name="$data\Templates\Russian\ClassToClass.xml" />
		<File Enabled="true" Name="$data\Templates\Russian\Subclasses.xml" />
		<File Enabled="true" Name="$data\Templates\Russian\DateTime.xml" />
		<File Enabled="true" Name="$data\Templates\Russian\Participles.xml" />
	</entityTemplateManager>

	<dictionaryManager>
		<XmlDictionary Enabled="false" Language="Russian" Name="$data\Dictionaries\Russian\XmlDictionary.xml" />

		<MrdDictionary Enabled="true" Language="Russian">
			<MrdFile Name="$data\Dictionaries\Russian\morphs.mrd" />
			<GramTabFile Name="$data\Dictionaries\Russian\rgramtab.tab" />
		</MrdDictionary>

		<MrdDictionary Enabled="true" Language="English">
			<MrdFile Name="$data\Dictionaries\English\morphs.mrd" />
			<GramTabFile Name="$data\Dictionaries\English\egramtab.tab" />
		</MrdDictionary>
	</dictionaryManager>

	<ontologies>
		<ontology name="OWL" type="Knowledge.Prospector.IO.OwlOntology, Knowledge.Prospector.IO" />
		<ontology name="Knowledge.Net" type="Knowledge.Prospector.IO.KnowledgeNetOntology, Knowledge.Prospector.IO" />
		<ontology name="Test ontology" type="Knowledge.Prospector.IO.TestOntology, Knowledge.Prospector.IO" />
	</ontologies>

	<documentProviders>
		<documentProvider
   name="One Document"
   type="Knowledge.Prospector.IO.Documents.Providers.OneTextDocumentProvider, Knowledge.Prospector.IO"
   pluginType="Knowledge.Prospector.UIEnvironment.Plugins.OneTextDocumentProviderOptionsPlugin, Knowledge.Prospector.UIEnvironment" />
		<documentProvider
   name="Folder Documents"
   type="Knowledge.Prospector.IO.Documents.Providers.LocalDocumentProvider, Knowledge.Prospector.IO"
   pluginType="Knowledge.Prospector.UIEnvironment.Plugins.LocalDocumentsProviderOptionsPlugin, Knowledge.Prospector.UIEnvironment" />
	</documentProviders>


	<userSettings>
		<Knowledge.Prospector.UIEnvironment.UISettings>
			<setting name="OutputOntologyProviderName" serializeAs="String">
				<value>Knowledge.Net</value>
			</setting>
			<setting name="DocumentsProviderSettings" serializeAs="String">
				<value />
			</setting>
			<setting name="OutputOntologySettings" serializeAs="String">
				<value>$data\Results\KnowledgeNetOntology.txt</value>
			</setting>
			<setting name="LoadFromDumpFileName" serializeAs="String">
				<value>$data\Results\Dump.bin</value>
			</setting>
			<setting name="SaveToDumpFileName" serializeAs="String">
				<value>$data\Results\Dump.bin</value>
			</setting>
			<setting name="DocumentsProviderProviderName" serializeAs="String">
				<value>One Document</value>
			</setting>
		</Knowledge.Prospector.UIEnvironment.UISettings>
	</userSettings>
</configuration>